'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hex'
      'submenu': [
        { 'label': 'View', 'command': 'hex:open' }
      ]
    ]
  }
]

'context-menu':
  '.image-view':
    'Hex View': 'hex:open'
