@import "ui-variables";

.hex-view {
  overflow: auto;
}

header {
  clear: both;
}
.hex {
  float: left;
  width: 440px;
  margin: 10px 0 0 0;
  overflow: hidden;
}
.ascii {
  float: left;
  width: 150px;
  margin: 10px 0 0 20px;
  overflow: hidden;
}
